h1 {
    font-size: 30px;
    margin: 10px 0;
    font-family: 'Yantramanav', sans-serif;
    padding: 1.8em;
}

h2 {
    font-size: 28px;
    margin: 10px 0;
    font-family: 'Yantramanav', sans-serif;
    padding: 1.5em;
}

h3 {
    font-size: 26px;
    margin: 8px 0;
    font-family: 'Yantramanav', sans-serif;
    padding: 1em 1em 1em 0.5em;
}

p {
    font-size: 22px;
    font-family: 'Yantramanav', sans-serif;
    padding: 0.5em;
}

a {
    font-size: 22px;
    font-family: 'Yantramanav', sans-serif;
}

li {
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
}

nav li {
    background-color: rgb(220, 241, 241);
    font-family: 'Yantramanav', sans-serif;
    padding: 12px;
    border: 1px solid lavender;
}

.current-page {
    background-color: rgb(220, 241, 241);
    font-weight: bold;
    border: 1px solid lavender;
}

footer {
    background-color: lightgoldenrodyellow;
    padding: 32px 8px;
}

/* Add style to your images focusing on the box model. */

.gallery {
    box-sizing: border-box;
}

img {
    display: inline-block;
    border: 4px solid lavenderblush;
    height: 200px;
    margin-top: 4px;
    padding: 30px auto;
    text-align: center;
    width: 215px;
}

ul {
    list-style-type: circle;
}

/* Add a hover style to your images */

img:hover {
    border: dashed lightblue;
}

img:nth-child(3n+0):hover {
    border: dashed purple;
}

.current-page a {
    color: pink;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #38803C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
}

label {
    font-size: 18px;
    font-family: 'Yantramanav', sans-serif;
    margin: 2em 2em 2em 2em;
}
